In [266]:
import pandas as pd
import numpy as np

In [267]:
matches = pd.read_csv("Desktop/IPL_ML/matches.csv")
delivery = pd.read_csv("Desktop/IPL_ML/deliveries.csv")

In [268]:
matches.shape

(1095, 20)

In [269]:
total_score_df = delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()
total_score_df.shape

(2217, 3)

In [270]:
#First inning Score 
total_score_df = total_score_df[total_score_df["inning"]==1]

In [271]:
#Merging this first inning score into the matches dataframe
match_df = matches.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [272]:
#Remove the IPL Teams who are not part of IPL 2025
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [273]:
teams = [
          'Mumbai Indians', 
         'Kolkata Knight Riders',
         'Rajasthan Royals',  
         'Chennai Super Kings',
        'Sunrisers Hyderabad',
        'Delhi Capitals', 
         'Punjab Kings',
         'Lucknow Super Giants', 
         'Gujarat Titans',
         'Royal Challengers Bengaluru']

In [274]:
match_df['team1'] = match_df['team1'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')
match_df['team2'] = match_df['team2'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')

match_df['team1'] = match_df['team1'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['team2'] = match_df['team2'].str.replace('Kings XI Punjab','Punjab Kings')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

In [275]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [276]:
match_df.shape
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,214
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,159
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,172
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,175
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,113

In [277]:
match_df.team1.unique()

array(['Royal Challengers Bengaluru', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [278]:
match_df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110

In [279]:
#We need matchid,city,winner,total_runs
match_df = match_df[['id','city','winner','total_runs']]
match_df

           id        city                       winner  total_runs
0      335982   Bangalore        Kolkata Knight Riders         222
1      335983  Chandigarh          Chennai Super Kings         240
2      335984       Delhi             Delhi Daredevils         129
3      335985      Mumbai  Royal Challengers Bangalore         165
4      335986     Kolkata        Kolkata Knight Riders         110
...       ...         ...                          ...         ...
1090  1426307   Hyderabad          Sunrisers Hyderabad         214
1091  1426309   Ahmedabad        Kolkata Knight Riders         159
1092  1426310   Ahmedabad             Rajasthan Royals         172
1093  1426311     Chennai          Sunrisers Hyderabad         175
1094  1426312     Chennai        Kolkata Knight Riders         113

[980 rows x 4 columns]

In [280]:
#Joining above match df with delivery
delivery_df = match_df.merge(delivery, left_on='id', right_on='match_id')

In [281]:
#I want only of 2nd innings
delivery_df = delivery_df[delivery_df['inning'] == 2]

In [282]:
delivery_df.shape

(112805, 21)

In [283]:
# First, ensure the column is numeric
delivery_df['total_runs_y'] = pd.to_numeric(delivery_df['total_runs_y'], errors='coerce')

# Now apply groupby and cumsum
delivery_df['current_score'] = delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [284]:
delivery_df['current_score']

124         1
125         2
126         2
127         3
128         4
         ...
233896    110
233897    111
233898    112
233899    113
233900    114
Name: current_score, Length: 112805, dtype: int64

In [285]:
delivery_df

,id,city,winner,total_runs_x,match_id,inning,batting_team,bowling_team,over,ball,...,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,110
233897,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,111
233898,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,112
233899,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,113
233900,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,114

In [286]:
#Now we calculate the runs left
delivery_df['runs_left'] = delivery_df['total_runs_x']+1 - delivery_df['current_score']

In [287]:
delivery_df

,id,city,winner,total_runs_x,match_id,inning,batting_team,bowling_team,over,ball,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,1,0,1,NaN,0,NaN,NaN,NaN,1,222
125,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,0,1,1,wides,0,NaN,NaN,NaN,2,221
126,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,0,NaN,0,NaN,NaN,NaN,2,221
127,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,1,0,1,NaN,0,NaN,NaN,NaN,3,220
128,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,1,0,1,NaN,0,NaN,NaN,NaN,4,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,1,0,1,NaN,0,NaN,NaN,NaN,110,4
233897,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,1,0,1,NaN,0,NaN,NaN,NaN,111,3
233898,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,1,0,1,NaN,0,NaN,NaN,NaN,112,2
233899,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,1,0,1,NaN,0,NaN,NaN,NaN,113,1
233900,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,1,0,1,NaN,0,NaN,NaN,NaN,114,0

In [288]:
#Getting how many balls are left  
delivery_df['balls_left'] = 120 - (delivery_df['over']*6 + delivery_df['ball'])
delivery_df

,id,city,winner,total_runs_x,match_id,inning,batting_team,bowling_team,over,ball,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,0,1,NaN,0,NaN,NaN,NaN,1,222,119
125,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,1,1,wides,0,NaN,NaN,NaN,2,221,118
126,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,NaN,0,NaN,NaN,NaN,2,221,117
127,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,0,1,NaN,0,NaN,NaN,NaN,3,220,116
128,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,0,1,NaN,0,NaN,NaN,NaN,4,219,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,0,1,NaN,0,NaN,NaN,NaN,110,4,61
233897,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,0,1,NaN,0,NaN,NaN,NaN,111,3,60
233898,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,0,1,NaN,0,NaN,NaN,NaN,112,2,59
233899,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,0,1,NaN,0,NaN,NaN,NaN,113,1,58
233900,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,0,1,NaN,0,NaN,NaN,NaN,114,0,57

In [289]:
# Step 1: Fix player_dismissed column (again for safety)
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x: "1" if x != "0" else "0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype(int)

# Step 2: Calculate cumulative wickets and cap them at 10
delivery_df['wickets_lost'] = (
    delivery_df.groupby('id')['player_dismissed']
    .cumsum()
    .clip(upper=10)  # cap max wickets at 10
)

# Step 3: Remaining wickets
delivery_df['wickets_left'] = 10 - delivery_df['wickets_lost']

In [290]:
delivery_df.head()

,id,city,winner,total_runs_x,match_id,inning,batting_team,bowling_team,over,ball,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_lost,wickets_left
124,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,NaN,0,0,NaN,NaN,1,222,119,0,10
125,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,wides,0,0,NaN,NaN,2,221,118,0,10
126,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,NaN,0,0,NaN,NaN,2,221,117,0,10
127,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,NaN,0,0,NaN,NaN,3,220,116,0,10
128,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,NaN,0,0,NaN,NaN,4,219,115,0,10

In [291]:
#Current Run rate 
#Runs / Over
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [292]:
#Require Run rate
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

In [293]:
def winner(team):
    return 1 if team['batting_team'] == team['winner'] else 0

In [294]:
delivery_df['results'] = delivery_df.apply(winner,axis=1)
delivery_df

,id,city,winner,total_runs_x,match_id,inning,batting_team,bowling_team,over,ball,...,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_lost,wickets_left,crr,rrr,results
124,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,NaN,NaN,1,222,119,0,10,6.000000,11.193277,0
125,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,NaN,NaN,2,221,118,0,10,6.000000,11.237288,0
126,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,NaN,NaN,2,221,117,0,10,4.000000,11.333333,0
127,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,NaN,NaN,3,220,116,0,10,4.500000,11.379310,0
128,335982,Bangalore,Kolkata Knight Riders,222,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,NaN,NaN,4,219,115,0,10,4.800000,11.426087,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,NaN,NaN,110,4,61,2,8,11.186441,0.393443,1
233897,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,NaN,NaN,111,3,60,2,8,11.100000,0.300000,1
233898,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,NaN,NaN,112,2,59,2,8,11.016393,0.203390,1
233899,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,NaN,NaN,113,1,58,2,8,10.935484,0.103448,1
233900,1426312,Chennai,Kolkata Knight Riders,113,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,NaN,NaN,114,0,57,2,8,10.857143,0.000000,1

In [295]:
required_data = delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','total_runs_x','crr','rrr','results']]
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,results
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222,119,10,222,6.000000,11.193277,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,118,10,222,6.000000,11.237288,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,117,10,222,4.000000,11.333333,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,116,10,222,4.500000,11.379310,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,115,10,222,4.800000,11.426087,0
...,...,...,...,...,...,...,...,...,...,...
233896,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4,61,8,113,11.186441,0.393443,1
233897,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,60,8,113,11.100000,0.300000,1
233898,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,59,8,113,11.016393,0.203390,1
233899,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,58,8,113,10.935484,0.103448,1
233900,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,57,8,113,10.857143,0.000000,1

In [298]:
final_data = required_data.sample(required_data.shape[0])

In [299]:
final_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,results
62504,Kolkata Knight Riders,Mumbai Indians,Kolkata,66,24,7,182,7.312500,16.500000,0
77420,Kolkata Knight Riders,Royal Challengers Bangalore,Ranchi,31,27,7,115,5.483871,6.888889,1
89729,Delhi Daredevils,Royal Challengers Bangalore,Bangalore,18,1,3,186,8.521008,108.000000,0
31909,Mumbai Indians,Chennai Super Kings,Mumbai,76,49,8,180,8.873239,9.306122,1
65821,Mumbai Indians,Chennai Super Kings,Bangalore,140,87,9,187,8.727273,9.655172,0
...,...,...,...,...,...,...,...,...,...,...
56627,Delhi Daredevils,Deccan Chargers,Delhi,106,74,7,157,6.782609,8.594595,1
71430,Royal Challengers Bangalore,Rajasthan Royals,Bangalore,58,68,8,117,6.923077,5.117647,1
158415,Rajasthan Royals,Sunrisers Hyderabad,NaN,71,36,5,158,6.285714,11.833333,1
103661,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata,94,43,4,167,5.766234,13.116279,0
112895,Delhi Daredevils,Kings XI Punjab,Chandigarh,54,35,8,181,9.035294,9.257143,0

In [300]:
final_data.dropna(inplace=True)

In [301]:
final_data = final_data[final_data['balls_left']!=0]

In [302]:
from sklearn.model_selection import train_test_split as tts

In [303]:
x = final_data.iloc[:, :-1]
y = final_data.iloc[:, -1]

In [304]:
x_train, x_test, y_train, y_test = tts(x, y, test_size=0.25, random_state=100)

In [305]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
# Defining a transformer for one-hot encoding categorical features
trf = ColumnTransformer([
    ('trf', OneHotEncoder(drop='first', sparse_output=False), ['batting_team', 'bowling_team', 'city'])
],
remainder='passthrough')

In [306]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [307]:
# Creating a pipeline with column transformation and logistic regression
pipe = Pipeline([
    ('step1', trf),
    ('step2', LogisticRegression(solver='liblinear'))
])

In [308]:
# Fitting the pipeline to the training data
pipe.fit(x_train, y_train)

C:\Users\Sujal Patel\.conda\envs\MachineLearning\Lib\site-packages\sklearn\compose\_column_transformer.py:1667: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [309]:
# Making predictions on the test data
y_pred = pipe.predict(x_test)

In [310]:
# Calculating the accuracy of the model
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8078325252753035

In [311]:
# Predicting class probabilities for the first instance in the test set
pipe.predict_proba(x_test)[0]

array([0.0138691, 0.9861309])

In [312]:
# Saving the trained pipeline as a binary file
import pickle
pickle.dump(pipe, open('pipe.pkl', 'wb'))

In [313]:
final_data['city'].unique()

array(['Kolkata', 'Ranchi', 'Bangalore', 'Mumbai', 'Chandigarh', 'Delhi',
       'Mohali', 'Chennai', 'Hyderabad', 'Durban', 'Bengaluru',
       'Johannesburg', 'Ahmedabad', 'Pune', 'Centurion', 'Abu Dhabi',
       'Visakhapatnam', 'Sharjah', 'Dubai', 'Dharamsala', 'Jaipur',
       'Guwahati', 'Lucknow', 'Navi Mumbai', 'Kimberley', 'Cuttack',
       'Cape Town', 'Port Elizabeth', 'Raipur', 'Bloemfontein',
       'East London', 'Nagpur', 'Indore'], dtype=object)